body{
  background-color: #1C1525;
  font-family: 'Raleway', sans-serif;
}

.App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header{
  color: white;
}

.new--game{
  padding: 10px;
  color: white;
  border: solid 2px white;
  border-radius: 5px;
  height: 40px; 
  background-color: transparent;
}

.flipBoxContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 50%;
  margin-top: 10px;
  gap: 5px;
}

.card img{
  width: 150px;
}

.card .front{
  transform: rotateY(90deg);
  transition:all ease-in 0.2s;
  position: absolute
}

.flipped .front{
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back{
  transition:all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back{
  transform: rotateY(90deg);
  transition-delay: 0.2s;
}

.footer{
  color:white;
  margin-top: 5px;
}

.flipBoxContainer img{
  border: 2px solid white;
  border-radius: 5px;
}